# Example key.properties
# Rename this file to key.properties in the android/ directory
# DO NOT commit key.properties or .jks files to Git

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=upload
storeFile=upload-keystore.jks
